#ow {
    text-align: center;
    background-color: rgb(198, 225, 247);
    color: rgb(80, 80, 80);
}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}
#aa {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    
}

